# Question1
__Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google__

In [12]:

a=input("INPUT : ")

res=a.split("@")
res2=res[1].split(".")
company_name=res2[0]
print("OUTPUT : ",company_name)

INPUT : john@google.com
OUTPUT :  google

# Question2
__Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world__

In [10]:
a=input(" INPUT : ")
res=a.split(",")
res.sort()

print("Output :",end=" ")
for i in res:
    if i==res[len(res)-1]:
         print(i)   
    else:
        print(i,end=",")

 INPUT : without,hello,bag,world
Output : bag,hello,without,world

# Question 3:
__Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp __

## Set

*A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.*

Example
Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

## Access Items
*You cannot access items in a set by referring to an index, since sets are unordered the items has no index.*

*But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.*

In [1]:
# Example
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [2]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

## Change Items

*Once a set is created, you cannot change its items, but you can add new items.*

## Add Items

*examples*

In [3]:
#Example
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

#Example
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'cherry', 'banana', 'orange', 'apple'}
{'cherry', 'mango', 'banana', 'apple', 'grapes', 'orange'}

## Get the Length of a Set
*To determine how many items a set has, use the len() method.

In [4]:


#Example
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## Remove Item
*To remove an item in a set, use the remove(), or the discard() method.*

In [5]:
#Example
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

#Note: If the item to remove does not exist, remove() will raise an error.

{'cherry', 'apple'}

In [ ]:
#Example
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
Note: If the item to remove does not exist, discard() will NOT raise an error.

## pop()
*You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.*

*The return value of the pop() method is the removed item.*

In [7]:
#Example
#Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)
#Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

cherry
{'banana', 'apple'}

## clear()
*The clear() method empties the set:*

In [8]:
#Example

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

## del keyword
*The del keyword will delete the set completely:*

In [10]:
#Example


thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Question 4:
__Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input__

In [1]:
a=input("input = ")
res=a.split()
#print(res)
r=0

#to convert all strings into integer values
for p in res:
    res[r]=int(res[r])
    r=r+1
    
# to sort all integer values    
res.sort()

    
#print(res)

# to get max value in list
m=max(res)
#print(m)

# logic to get numbers not present in list
prev=0
for i in res:
     
    for j in range(1,m+1):

        if i==j:
            prev=i
            break
        elif j>prev :
            print("not present",j)

input = 1 2 4 6 3 7 8
not present 5

# Question 5:
__With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35__

In [11]:
input_string = input("Input: ")
userList = input_string.split()
temp=[]
cnt=0
print("Output:",end=" ")
for itr in userList:
    if itr not in temp:
        temp.append(itr)
        print(temp[cnt],end=" ")
        cnt=cnt+1

Input: 12 24 35 24 88 120 155 88 120 155
Output: 12 24 35 88 120 155